<html>
   <body>
      <form action = "http://localhost:5000/upload" method ="POST" enctype = "multipart/form-data">
	    Upload from Computer:<input type=file name=file> <input type=submit value=Upload_File> <br \>
	    Upload from Link:<input type="text" name="link11"> <input type=submit value=Upload_Link>

      </form>
      <section class="row">
        {% for video in videos %}
          <section class="col-md-4 col-sm-6 style="background-color: green;">
            <a href="{{ url_for('static', filename = "videos/"+video )}}">{{ video }}</a>
            <a href="{{ url_for('delete_video', filename = video) }}" method = "POST">
            <img border="0" alt="delete" src="static/images/trash.png" width="15" height="15">
            </a>
          </section>
        {% endfor %}
      </section>
    <div class="container-fluid" style="min-height:100% width:80%">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-warning alert-dismissible" role="alert">
          {{message}}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    </div>
   </body>
</html>
