<!DOCTYPE html> 
<html> 
<body style="background-color: #4286f4"> 

<p>
	<a style="float:left; color:black" href="Homepage URL Here">Back to Homepage</a>

	<a style="float:right; color:black" href="Logout URL Here">Logout</a>
    <br>
</p>

<!-- Not sure what method we're going to embed with. Code for both is provided
<video width="100%" controls>
  <source src="file.mp4" type="video/mp4">
  <source src="file.ogg" type="video/ogg">
  Your browser does not support HTML5 video.
</video>
-->

<iframe width="100%" height="515" src="https://www.youtube.com/embed/MtN1YnoL46Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</body> 
</html>