<!DOCTYPE html>
<html>
<body style="background-color: #4286f4">

<p>
<a style="float:left; color:black" href="Logout URL Here">Logout</a>

<br><br>

<div align="center">
<input type="text" name="URL" value="Enter video URL to upload" style="width:70%;">
<button type="button" onclick="Code here, maybe?">Upload</button>
</div>

<br><br><br><br>

<div>
	<li style="list-style-type:none">
    	<ul>
        <a href="Video 1 URL" style="padding-right: 20px">Video 1</a><button type="button" onclick="Remove Video somehow here?">Delete</button>
        </ul>
        
        <ul>
        <a href="Video 2 URL" style="padding-right: 20px">Video 2</a><button type="button" onclick="Remove Video somehow here?">Delete</button>
        </ul>
        
        <ul>
        <a href="Video 3 URL" style="padding-right: 20px">Video 3</a><button type="button" onclick="Remove Video somehow here?">Delete</button>
        </ul>
    </li>
</div>

</p>
</body>
</html>